.container {
    /* width: 100%; */
    text-align: center;
    margin-left: 5%;
    width: 90%;
    height: 70vh;
    border: black 2px solid;
}
#main_logo {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 100px;
}
#place_name_div {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 5px auto;
}
.parent {
    visibility: hidden;
    height: 9vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
    position: absolute;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.first {
    width: 9vh;
    height: 8vh;
}
.second,
.third {
    width: 50px;
    height: 8vh;
}
.fourth {
    width: 18vh;
    height: 8vh;
}
.fifth {
    width: 18vh;
    height: 8vh;
}
.sixth {
    width: 9vh;
    height: 8vh;
}
.new:hover {
    cursor: pointer;
}
button {
    height: 3vh;
    width: 5vh;
}
#next {
    margin: 0 auto;
}
.border {
    margin-top: 15px;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 65vh;
    border: black 2px solid;
    /* justify-content: center; */
    /* align-items: center; */
}
