#main_logo {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 100px;
}
#place_name_div {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 5px auto;
}
.parent {
    display: flex;
    height: 9vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.container {
    /* width: 100%; */
    text-align: center;
    margin-left: 5%;
    width: 90%;
    height: 70vh;
    border: black 2px solid;
}
#body {
    display: inline-block;
    width: 60vw;
    height: 70vh;
    /* border: 1px solid black; */
    width: 80vw;
}
#table {
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 8px;
    border: 1px solid black;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
}
.item:hover {
    cursor: pointer;
}
div[class="item base kitchen"] {
    grid-column: span 2;
}
div[class="item base toilet"] {
    grid-column: span 2;
}

.item {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    /* padding: 10px; */
    height: 8vh;
    /* border: 1px solid steelblue; */
}
.green {
    background: green;
}
.red {
    background: lightcoral;
}
.yellow {
    background: yellow;
}
.base {
    border: 1px solid black;
    /* width: 50px; */
}
.entrance {
    width: 50px;
}
.exit {
    width: 50px;
}
.div:hover {
    cursor: pointer;
}
.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
    position: relative;
    z-index: 1;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    /* width: 100px;
    height: 8vh; */
}

.first {
    /* 테이블 */
    /* width: 9vh; */
    height: 8vh;
}
.second,
.third {
    /* 입구 출구 */
    width: 50px;
    height: 8vh;
}
.fourth {
    /* 주방 */
    /* width: 18vh; */
    height: 8vh;
}
.fifth {
    /* 화장실 */
    /* width: 18vh; */
    height: 8vh;
}
.sixth {
    /* 룸 */
    /* width: 9vh; */
    height: 8vh;
}
input:focus {
    outline: none;
}

span[contenteditable] {
    color: red;
}
button {
    height: 3vh;
    width: 5vh;
    margin: 5px;
}
.test {
    left: 100;
}
.border {
    margin-top: 15px;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 65vh;
    border: black 2px solid;
}
