#main_logo {
    display: block;
    margin: 50px auto;
    width: 100px;
    height: 100px;
}
#place_name_div {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 50px auto;
}
.parent {
    display: flex;
    /* height: 9vh; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
input {
    margin: 10px;
}
.list {
    width: 30%;
    text-align: center;
    border: black 1px solid;
    display: block;
    margin: 50px auto;
}
table {
    border-spacing: 20px;

    margin: 0 auto;
}
td {
    border: 1px black solid;
}

.buttons {
    text-align: center;
    display: block;
    margin: 50px auto;
}
